# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# production/build outputs
build/
dist/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env

# OS/editor
.DS_Store
.vscode/
.idea/

# Vercel local project settings
.vercel/
